<div class=" form-group">
    <div class="card">
        <div class="card-header text-white bg-success mb-3 container-fluid">
            <b>
                ENVIAR</b>
        </div>
        <div class="panel-body">
            <div class="text-center" style="margin: 20px;">





                <button id="btn-cargar" name="btn-cargar" onclick="enviar_carga()" style="width:45%;font-weight: bold;"
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                    disabled>Cargar</button>


                <button id="btn-enviar" name="btn-enviar" onclick="enviar_trabajo(), reloadContainer"
                    style="width:45%;font-weight: bold;"
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-600 border border-transparent rounded-lg active:bg-teal-600 hover:bg-teal-700 focus:outline-none focus:shadow-outline-teal opacity-50 disabled:opacity-50"
                    disabled>Enviar</button>





            </div>



        </div>


    </div>
</div>

<script>


    function enviar_carga() {
        $("#loading").attr("hidden", false);
        $.ajax({
            type: 'post',
            url: "/enviar-carga/ejecucion-multiple/archivo-bips",
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function () {
           
                procesando();
      
            },
            success: function (result) {
               
                // $('#loading').html("");
                $('#btn-enviar').attr("disabled", false);
                $('#btn-enviar').addClass('opacity-100');

                // $('#btn-enviar').addClass('cursor-not-allowed', false);

                if (result['estado'] == 200) {
                    var estado=1;
                    msg = result['msg'];
                    icon = "success";
                    $('#btn-cargar').attr("hidden", true);
                    //$('#btn-cargar').attr("disabled", true);
                    mensaje(icon, msg);
                   
                

                } else {
                    msg = result['msg'];
                    icon = "warning";
                    mensaje(icon, msg);

                }
                
            }
                
        });
    }

    function mensaje(icon, msg) {

        Swal.fire({
            position: 'center',
            icon,
            title: msg,
            showConfirmButton: false,
            timer: 3000
        })

        
    }

    function reloadContainer(action) {
        loadContentHtml("/listado-archivos", '#container');   
    }

    function procesando(msg) {

        if(msg==undefined){

            msg="";
        }
        let timerInterval
        Swal.fire({
            title: 'Procesando!',
            html: 'Esto puede tomar algun tiempo ...'+msg,
            timerProgressBar: true,
            allowOutsideClick: false,
            closeOnEsc: true,
            
            didOpen: () => {
                Swal.showLoading()
                
            },
            
        })
    }

    function enviar_trabajo() {
        $("#loading").attr("hidden", false);
        $.ajax({
            type: 'post',
            url: "/enviar-trabajo/ejecucion/archivo-bips",
            data: [],
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function () {
                procesando();
                   },
            success: function (result) {
                
                if (result['estado'] == 200) {
                    msg = result['msg'];
                    icon = "success";
                    $('#btn-enviar').attr("hidden", true);        
                    
                    mensaje(icon, msg);         
                    eliminar_all();

                    setTimeout(function() {
                                window.location.reload(1);
                            }, 3000);


                } else {
                    msg = result['msg'];
                    icon = "warning";

                    mensaje(icon, msg);

                }
               


            }
        });
    }


</script>