<div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

    <div class="grid gap-6 mb-8 md:grid-cols-4 xl:grid-cols-4">

        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Seleccionar IPS
                </span>
                <select name="listaIps" id="listaIps"
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                    <option selected="selected" value="">Seleccionar Ips
                    </option>
                    <% listaIps.forEach(lista=> { %>
                        <option value="<%= lista.codigo_ips %>">
                            <%= lista.codigo_ips + " (" + lista.descripcion_ips +")" %>
                        </option>
                        <% }); %>
                </select>
            </label>
        </div>


        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Fecha inicial
                </span>
                <input name="fechaInicial" id="fechaInicial" type="date"
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                    placeholder="Nombre de entidad">
            </label>
        </div>


        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Fecha final
                </span>
                <input name="fechaFinal" id="fechaFinal" type="date"
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                    placeholder="Nombre de entidad">
            </label>
        </div>

        <div class="min-w-0 p-4 text-white bg-purple-600 rounded-lg shadow-xs">
            <label class="block mt-4 text-sm">
                <span class="text-white">
                    Selecciona los planos a cargar
                </span>
                <input name="files" type="file" id="files" multiple
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" disabled>
            </label>
        </div>

        <button onclick="validarRegisros()" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Consultar
            registros</button>
        <button onclick="upload()" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Subir</button>

    </div>

</div>

<script>
    function validIputs() {
        const listaIps = $('#listaIps');
        const fechaInicial = $('#fechaInicial');
        const fechaFinal = $('#fechaFinal');

        if (listaIps.val() == "") {
            setTimeout(function() {
                listaIps.focus();
            })
            return false;
        } else if (fechaInicial.val() == "") {
            fechaInicial.focus();
            return false;
        } else if (fechaFinal.val() == "") {

            fechaFinal.focus();
            return false;

        } else if (new Date(fechaInicial.val()) > new Date(fechaFinal.val())) {
            Swal.fire({
                position: 'top-end',
                icon: 'warning',
                title: 'La fecha final no puede ser menor a la fecha inicial',
                showConfirmButton: false,
                timer: 1500
            })
            return false;
        }

        return {
            listaIps: listaIps.val(),
            fechaInicial: fechaInicial.val(),
            fechaFinal: fechaFinal.val()
        };
    }

    function upload() {

        const data = validIputs();
        const files = $('#files')[0].files;

        if (!data || files.length == 0) {
            return;
        }

        const formData = new FormData();


        Array.from(files).forEach(file => {
            formData.append("files", file);
        });

        formData.append("cbxips", data.listaIps);
        formData.append("nombre_ips", $("#cbxips option:selected").text().trim());
        formData.append("txtfecha_inicial", data.fechaInicial);
        formData.append("txtfecha_final", data.fechaFinal);

        $.ajax({
            url: '/files',
            method: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(result) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Archivos subidos',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(function() {
                    loadContentHtml('/listado-archivos', '#container-carga-data')
                }, 1500);
            },
            error: function(request, msg, error) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Archivo no subidos',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    }



    function validarRegisros() {
        const data = validIputs();
        const files = $('#files')[0].files;

        if (!data) {
            return;
        }

        const url = "/validar-registros-ap/" + data.listaIps + "?fecha_inicial='" + data.fechaInicial + "'&fecha_fin='" + data.fechaFinal + "'";

        $.ajax({
            url,
            method: 'GET',
            success: function(result) {

                let msg = "";
                let icon = "";

                if (result <= 0) {
                    msg = "la IPS " + data.listaIps + " No tiene datos asociados, puede cargar los planos"
                    icon = "success";
                    $('#files').attr('disabled', false);
                } else {
                    msg = "La IPS " + data.listaIps + " tiene Registros de Archivos Planos para el Rango de Fecha: " + data.fechaInicial + " hasta " + data.fechaFinal;
                    icon = "warning";
                }

                Swal.fire({
                    position: 'top-end',
                    icon,
                    title: msg,
                    showConfirmButton: false,
                    timer: 5000
                })
            },
            error: function(request, msg, error) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'No se pudo cargar los datos',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    }
</script>