<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->


</head>

<div class="" style="font-size: 15px;" id="" name="">


    <div class="">

        <div>
            <span class="titulo-tabla text-center">
                    <h4 style="color: red;"> Lista de Errores</h4>
                </span>



            <table class="w-full whitespace-no-wrap" style="width:100%" id="tbl_planos">


                <thead class="head-tabla-reg">
                    <tr class="text-center">
                        <th colspan="2">
                            <label for="">Plano</label>
                        </th>


                    </tr>

                    <tr class="text-center">

                        <th colspan="2" id="plano-err">



                        </th>

                    </tr>

                    <tr>
                        <th>#</th>
                        <th>Descripción del Error</th>


                    </tr>
                </thead>
                <tbody class="text-center bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="developers">


                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </div>
    </div>


</div>