<div class="bg-white">
    <nav class="flex flex-col flex-wrap sm:flex-row" id="tabs-base">
        <button
            class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500 border-l border-t border-r"
            onclick="loadTab(this,'/ctm-plan-general')">
            Plan General
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-lineas-accion')">
            Lineas de Acción
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-objetivos')">
            Objetivos
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-estrategias')">
            Estrategias
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-planes')">
            Planes
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-indicadores')">
            Indicadores
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-registro-indicadores')">
            Registro
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-calificacion-indicadores')">
            Calificación
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-areas')">
            Areas
        </button>
        </button>
        <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
            onclick="loadTab(this,'/ctm-profesionales')">
            Usuarios
        </button>
    </nav>
</div>



<div id="container-tab">

</div>

<script>
    const tabActiveClass = "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500 border-l border-t border-r"
    const tabClass = "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"

    function loadTab(btn,url) {
        toggleTab(btn,url);
        loadContentHtml(url, '#container-tab')
    }

    
    function toggleTab(btn,url) {
        const button=$(btn);
        $("#tabs-base button").each(function (index) {
            $(this).removeClass().addClass( tabClass );
            if($(this).text()===button.text()){
                button.removeClass().addClass( tabActiveClass );
            }
        });
    }

    loadContentHtml('/ctm-plan-general', '#container-tab')
</script>