Reporte 2193
<br/>
<br/>
<span id="cargando" class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"> Cargando Información, esto puede tardar algún tiempo...</span>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AReportes_PRD_2193%3Areporte_2193_trimestral.prpt/viewer" scrolling="si" onload='validarCarga()' frameBorder="0" width="100%" height="800px" title="Dashboard 2193" class="embed-responsive-item">
    </iframe>
</div>

<script>
    function validarCarga() {
        $("#cargando").css("display", "none");
    }
</script>