<div class="" style="">
    <!--visor con controles, pero necesita del servidor GULP-->
    <!--<iframe class="" src="http://localhost:8888/web/viewer.html?file=<%= file_pdf %>" scrolling="si" id="viewerPdf" frameBorder="0" width="100%" title="visor PDF" allowfullscreen></iframe>-->
    <!--visor SIN controles, no reuqiere servidor-->
    <iframe class="" src="/filespublic/<%= file_pdf %>" scrolling="si" id="viewerPdf" frameBorder="0" width="100%" height="800px" title="visor PDF" allowfullscreen></iframe>
</div>