<div>


    <div class="w-full">
        <br>
        <h4 style="font-weight: bold;"> DETALLE NOTA.</h4>

    </div>

    <div class="w-full flex items-center p-4 rounded-lg shadow-xs dark:bg-gray-800">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            Comentario del Evaluador: </label>
        <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            value='<%= nota %>' disabled>

    </div>
    
</div>