body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #eaedee;
}

#panel_carga {
    margin-left: 15px;
    margin-top: 50px;
}

#lista_archivos {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}