body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #eaedee;
}

#panel_carga {
    margin-left: 15px;
    margin-top: 5px;
    background-color: #eaedee;
}

#lista_archivos {    
    font-family: 'Montserrat', sans-serif;
}

#head-carga{
    background-color: cadetblue;
    color: #fff;
    text-align: center;
}

