
                   

.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    height:50px ;
    width: 100%;
    background-color: #20488f;
    color: white;
    text-align: center;
    
 }

#panel_carga {
    margin-left: 40px;
    padding-left: 10px;
    margin-top: 90px;
    padding-top: 60px;
    
    /*background-color: #eaedee;*/
}

#panel_registro {
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 1px;
    width:1250px;
    height:630px;
    
    
    /*background-color: #eaedee;*/
}



#lista_archivos {
    
  
    margin-top: 40px;
    padding-top: 5px;
    
    font-family: 'Montserrat', sans-serif;
}

#head-carga {
    background-color: cadetblue;
    color: #fff;
    text-align: center;
}

.input-file-input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    font-weight: bold;
}

nav.navbar {
    background-color: #20488f;
}

.nav-link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.dropdown-toggle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ff5350;
    background-color: #ebebeb !important;
    display: block;
}

#tbl_registros {
    font-size: medium;
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    border-spacing: 0px !important;
    padding: 0px;
    text-align:center ;

  


}

#tbl_registros th {
    padding: 15px;
}

#tbl_registros td {

    padding: 5;
    text-align: left;
   


}

