<div
class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
<span class="flex items-center col-span-3">
   <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
      <select class  ="form-control" name="state" id="maxRows">
         <option value="5000">Show ALL Rows</option>
         <option value="5">5</option>
         <option value="10">10</option>
         <option value="15">15</option>
         <option value="20">20</option>
         <option value="50">50</option>
         <option value="70">70</option>
         <option value="100">100</option>
        </select>
      
    </div>
</span>
<span class="col-span-2"></span>
<!-- Pagination -->

<span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
   <nav aria-label="Table navigation">
     <ul class="inline-flex items-center pagination">
       <li data-page="prev">
         <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous">
           <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
             <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
           </svg>
         </button>
       </li>
       <li>
         <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
           1
         </button>
       </li>

       <li data-page="next" id="prev">
         <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next">
           <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
             <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
           </svg>
         </button>
       </li>
     </ul>
   </nav>
 </span>



</div>