<%- include("header"); %>
    <form action="" method="get">

        <div class="col-md-12">
            <h2> Cargar Archivos Planos</h2>
        </div>

        <p>&nbsp;</p>
        <div class="form-row" >
            <div class="form-group col-md-3">

                <label for="number" id="formulario" enctype="multipart/form-data" method="POST">Seleccionar IPS</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

                    <option selected>Seleccionar IPS</option>
                    <% listaIps.forEach(lista=> { %>
                        <option value="<%= lista.idips %>">
                            <%= lista.descripcion_ips %>
                        </option>
                        <% })%>

                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="fecha_ini">Fecha inicial</label>
                <div>
                    <input type="text" name="txtfecha_inicial" value="01/01/2020" />
                    <script>
                        $(function () {
                            $('input[name="txtfecha_inicial"]').daterangepicker({
                                singleDatePicker: true,
                                showDropdowns: true,
                                minYear: 2018,
                                maxYear:moment()
                            });
                        });
                    </script>

                </div>

            </div>

            <div class="form-group col-md-2">
                <label for="fecha_ini">Fecha Final</label>
                <div>
                    <input type="text" name="txtfecha_fin"/>
                    <script>
                        $(function () {
                            $('input[name="txtfecha_fin"]').daterangepicker({
                                singleDatePicker: true,
                                showDropdowns: true,
                                minYear: 2018,
                                maxYear: moment().format('YYYY MM DD')
                            });
                        });
                    </script>

                </div>

            </div>
        </div>

        <div class="form-group col-md-4">
            <div>
                <button type="submit" class="btn btn-primary">Consultar Registros</button>
            </div>
        </div>

        <div class="form-group col-md-12">
            <input type="file" name="files" id="files" multiple>

        </div>

        <p>&nbsp;</p>

        <div class="form-group col-md-12">
            <button class="btn btn-primary btn-md" id="btn-subir" name="btn-subir" disabled="disabled">Subir</button>
            <div class="preview">
                <div id="datos"></div>
            </div>

        </div>

    </form>


    <%- include("footer"); %>