<!doctype html>
<html lang="es">
<!--
  Plantilla inicial de Bootstrap 4
  @author parzibyte
  Visita: parzibyte.me/blog
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Conexión PostgreSQL y Node usando Express y Bootstrap">
    <meta name="author" content="Parzibyte">
    <title>BIPS</title>
    <!-- Cargar el CSS de Boostrap-->
    <!--<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Cargar estilos propios -->
    <!--<link href="/stylesheets/style.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- library jQuery, Moment.js and Date Range Picker's files -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>

<body>
    <!-- Definición del menú -->
    
    <ul class="nav nav-pills">
        <a class="navbar-brand" target="_blank" href="//parzibyte.me/blog">BIPS</a>

        <li role="presentation"><a href="/obtenerRegistrosPlanos">Registros Archivos Planos</a></li>
        <li role="presentation"><a href="/obtenerIps">Cargar plano</a></li>
        <li role="presentation"><a href="#">Generador de Reportes</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>

    
    
    <!-- Termina la definición del menú -->
    <main role="main" class="container">
        <div class="row">
