<!doctype html>
<html lang="es">

<body>
    <!-- Definición del menú -->

    <ul class="nav nav-pills">

        <a class="navbar-brand" target="_blank" href="#">
            <img alt="Brand" src="recursos_marca">
        </a>
        <li role="presentation"><a href="/obtenerRegistrosPlanos">Registros Archivos Planos</a></li>
        <li role="presentation"><a href="/obtenerIps">Cargar plano</a></li>
        <li role="presentation"><a href="#">Generador de Reportes</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>



    <!-- Termina la definición del menú -->