<%- include("test_header_new"); %>


    <script type="text/javascript">
        $(document).ready(function() {

            history.replaceState("/config-user-bips", "Bips", "/config-user-bips");

            setTimeout(function() {
                $('#card-success').hide();
            }, 5000);


            $('#card-success').show();

        });
    </script>

    <div style="margin-top: 80px;padding-top: 10px;">
        <h1 style="color: #233dd2;" class="text-center">
            Gestion de Permisos
        </h1>
    </div>

    <%- include("menu_configuracion"); %>

        <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

            <iframe src="/permisos-bips" title="Configuracion de permisos" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="800px" name="iframe_control_mando" id="iframe_control_mando">
        </iframe>
        </div>

        <%- include("footer"); %>