<body id="" class="">
    <div class="col-md-12" style=" margin-top: 80px; padding: 10px;margin-left: 10px;">


        <!--<div class="tabs-to-dropdown">
                <div class="nav-wrapper d-flex align-items-center justify-content-between">
                    <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-company-tab" data-toggle="pill" href="#pills-company" role="tab" aria-controls="pills-company" aria-selected="true">Plan General</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">Lineas de Acción</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>-->
        <div class="col-md-12">

            <!--<iframe src="/menu-ctm" title="Archivos cargados" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="60px" name="iframe_plan" id="iframe_plan">
                        </iframe>-->
            <%- include("menu_cuadro_mando"); %>
        </div>

    </div>



    <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

        <iframe src="/ctm-plan-general" title="Archivos cargados" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="600px" name="iframe_plan" id="iframe_plan">
                    </iframe>
    </div>
</body>


<script type="text/javascript">
    $(document).ready(function() {

        $('#preview').hide();

        $('#btn-linea-accion').click(function() {

            //alert("OK");

            $('#iframe_plan').attr("src", "/ctm-lineasAccion");

            $("#iframe_plan").show();

        });


        $('#btn-planGeneral-accion').click(function() {

            //alert("OK");

            $('#iframe_plan').attr("src", "/ctm-plan-general");

            $("#iframe_plan").show();

        });

    });
</script>



<%- include("footer"); %>