<body id="body_ppal_ctm" class="">



    <div class="col-md-12" style=" margin-top: 80px; padding: 10px;margin-left: 10px;">

        <div class="col-md-12">

            <!--<iframe src="/menu-ctm" title="Archivos cargados" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="60px" name="iframe_control_mando" id="iframe_control_mando">
                        </iframe>-->
            <% if(rol=='ROL_ADMIN' || rol=='ROL_SUPER_ADMIN' || rol=='ROL_COORDINADOR' || rol=='ROL_USUARIO' || rol=='ROL_EVALUADOR' ){%>
                <%- include("menu_cuadro_mando"); %>

                    <%}else{%>

                        <div class="col-md-12" style=" margin-top: 0px; padding: 0px;margin-left: 0px;">
                            <h2 class="text-center" style="color: #20488f;font-size: 20px">No hay permisos Suficientes
                            </h2>
                        </div>
                        <%}%>
        </div>

    </div>

    <% if(rol=='ROL_ADMIN' || rol=='ROL_SUPER_ADMIN' || rol=='ROL_COORDINADOR' || rol=='ROL_EVALUADOR' ){%>
        <% if(permisos.length> 0){%>

            <% for(var i=0; i<permisos.length; i++){ %>

                <% if(permisos[i].codigo=='ctm_plan_general' ){ %>
                    <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                        <iframe src="/ctm-plan-general" title="Archivos cargados" scrolling="si" onload=''
                            frameBorder="0" class="embed-responsive-item" width="100%" height="800px"
                            name="iframe_control_mando" id="iframe_control_mando">
                        </iframe>
                    </div>
                    <%} %>

                        <%}%>
                            <%}else{%>
                                <div class="col-md-12" style=" margin-top: 0px; padding: 0px;margin-left: 0px;">
                                    <h2 class="text-center" style="color: #20488f;font-size: 20px">No hay permisos
                                        Suficientes 3
                                    </h2>
                                </div>
                                <%}%>
                                    <%}%>

                                        <% if( rol=='ROL_USUARIO' ){%>

                                            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                                                <iframe src="/ctm-reg-indicadores" title="Archivos cargados"
                                                    scrolling="si" onload='' frameBorder="0"
                                                    class="embed-responsive-item" width="100%" height="800px"
                                                    name="iframe_control_mando" id="iframe_control_mando">
                                                </iframe>
                                            </div>
                                            <%}%>


</body>


<script type="text/javascript">
    $(document).ready(function () {

        $('#preview').hide();

        $('#btn-profesionales').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-profesionales");

            $("#iframe_control_mando").show();


        });

        $('#btn-objetivos').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-objetivos");

            $("#iframe_control_mando").show();

        });

        $('#btn-estrategias').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-estrategias");

            $("#iframe_control_mando").show();

        });

        $('#btn-planes').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-planes");

            $("#iframe_control_mando").show();

        });


        $('#btn-areas').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-areas");

            $("#iframe_control_mando").show();

        });

        $('#btn-indicadores').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-indicadores");
            //$('#iframe_control_mando').attr("src", "/ctm-indicadores-planes");

            $("#iframe_control_mando").show();

        });

        $('#btn-reg-indicadores').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-reg-indicadores");
            //$('#iframe_control_mando').attr("src", "/ctm-indicadores-planes");

            $("#iframe_control_mando").show();

        });

        $('#btn-calificacion-indicadores').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-calificacion-indicadores");
            //$('#iframe_control_mando').attr("src", "/ctm-indicadores-planes");

            $("#iframe_control_mando").show();

        });


        $('#btn-linea-accion').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-lineasAccion");

            $("#iframe_control_mando").show();

        });


        $('#btn-planGeneral-accion').click(function () {

            //alert("OK");

            $('#iframe_control_mando').attr("src", "/ctm-plan-general");

            $("#iframe_control_mando").show();

        });

    });
</script>



<%- include("footer"); %>