<div class="embed-responsive embed-responsive-16by9">
    <iframe src="http://localhost:8888/web/filespublic/<%= file_pdf %>" scrolling="si" id="viewerPdf" frameBorder="0" width="100%" title="Dashboard 2193" class="embed-responsive-item"></iframe>
</div>