<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe class="embed-responsive-item" src="/web/filespublic/<%= file_pdf %>" scrolling="si" id="viewerPdf" frameBorder="0" width="100%" title="visor PDF" allowfullscreen></iframe>
</div>