<%- include("head"); %>
    <%- include("styles_gral"); %>


        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }

            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>


        <body id="body_ent" class="" style="margin-top: 0px;">

            <div class="preview text-center" id="preview"
                style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>
            <div class="col-md-12" style=" margin-top: 0px; padding: 10px;margin-left: 10px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Registro Areas.
                </h2>
            </div>


            <div class="tabs-to-dropdown">

                <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 30px;margin: 10px;">
                            <button class="nav-link active btn btn-success" type="button"
                                style="border: 0; padding-top: 0px;height: 20px;" id="btn-nuevo-prof"
                                onclick="nueva_area()" data-toggle="pill" href="" role="tab" aria-controls=""
                                aria-selected="true"><i class="fas fa-plus"></i> Area</button>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 30px;margin: 10px;">
                            <button class="nav-link active btn btn-info" type="button"
                                style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="lista()"
                                data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i
                                    class="fas fa-list"></i> Lista</button>
                        </div>
                    </li>
                </ul>

            </div>

            <div style="display: flex;justify-content: center;align-items: center;">

                <div class="col-md-8">
                    <div class="card container-fluid" id="panel_nueva_area" hidden>

                        <form id="formulario" enctype="multipart/form-data" method="POST">
                            <div class="form-group row">
                                <label class="col-3 col-form-label " style="font-weight: bold;">Nombre del Area:
                                </label>
                                <div class="col-6">
                                    <input class="form-control" type="text" placeholder="ingresa el nombre del area."
                                        name="nombre_area" id="nombre_area">
                                </div>
                            </div>

                            <div class="form-group col-sm-12 col-md-12 text-center" style="justify-content: center;">
                                <button style="font-weight: bold; align-content: center;" class="btn btn-success"
                                    id="btn-validar" name="btn-validar" onclick="almacenar_registro()">Guardar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="" title="iframe Vistas control de mando" scrolling="si" onload='' frameBorder="0"
                    class="embed-responsive-item" width="100%" height="600px" name="iframe" id="iframe">
                </iframe>
            </div>
        </body>
        
        <script type="text/javascript">
            function lista() {
                //alert("OK");
                $('#panel_nueva_area').attr('hidden', true);
                ///lista-ctm-indicadores

                $('#iframe').attr('hidden', false);
                $('#iframe').attr("src", '/lista-ctm-areas');
                $("#iframe").show();
            }

            function nueva_area() {
                //alert("OK");
                $('#panel_nueva_area').attr('hidden', false);

                $('#iframe').attr("src", '');
                $('#iframe').attr('hidden', true);
            }

            function almacenar_registro() {

                event.preventDefault();
                var nombre = $('#nombre_area').val();

                var peticion = "/persistir-area/?nombre_area=" + nombre;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (result) {
                        if (result["status"] == 200) {

                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            $('#formulario')[0].reset();

                            $('#nombre_area').focus();

                            var iframe = document.getElementById('iframe');

                            $('#iframe').attr("src", iframe.src);
                            $("#iframe").show();

                            setTimeout(function () {
                                $('#preview').hide();
                            }, 4000);


                        } else {
                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            setTimeout(function () {
                                $('#preview').hide();
                            }, 5000);

                            $('#nombre_area').focus();

                        }

                    }

                });


            }

            function editar_plan() {
                alert("OK FUNCIONA...");
            }

            $(document).ready(function () {

                $('#preview').hide();

            });
        </script>