<%- include("head"); %>
    <%- include("styles_gral"); %>

        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>

        <body id="body_ent">

            <div class="col-md-12" style="text-align: center;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Registro de Objetivos.
                </h2>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md-9 col-md-offset-3" style="padding-bottom: 0px">

                    <div class="card container" style=" text-align: center;">

                        <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                            <div class="card col-md-12" id="card-msg">


                            </div>
                        </div>

                        <form id="formulario" enctype="multipart/form-data" method="POST">

                            <div class="well form-inline">


                                <div class="form-group col-sm-12 col-md-12 text-center" style="justify-content: center;">
                                    <label class="" style="font-weight: bold;"> Objetivo </label>

                                    <textarea class="col-sm-12 col-md-4 " type="text" name="linea_accion" id="linea_accion" value=""></textarea>


                                    <label style="font-weight: bold;">Linea de acción: </label>

                                    <select class="form-select form-group form-control input-sm col-md-4" name="select_plan" id="select_plan" data-toggle="tooltip" title="Seleccionar plan General!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar linea de acción
                                        </option>
                                        <% lista_lineas_accion.forEach(lista=> { %>
                                            <option value="<%= lista.id_linea %>">
                                                <%= lista.linea_accion  %>
                                            </option>
                                            <% }); %>
                                    </select>



                                </div>
                                <div class="form-group col-sm-12" style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                                    <div class="text-center">
                                        <button style="font-weight: bold;" class="btn btn-success btn-sm" id="btn-validar" name="btn-validar" onclick="almacenar_registro()">Asociar Objetivo</button>
                                    </div>
                                </div>



                            </div>

                        </form>

                    </div>
                </div>
            </div>

            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="/listado-ctm-objetivos" title="iframe Vistas control de mando" scrolling="no" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="600px" name="iframe_plan" id="iframe_plan">
                    </iframe>
            </div>
        </body>





        <script type="text/javascript">
            function almacenar_registro() {

                event.preventDefault();
                var linea = $('#linea_accion').val();
                var plan_general = $('#select_plan').val();

                if (plan_general != "") {



                    var peticion = "/persistir-lineaAccion/?linea_accion=" + linea + "&plan_general=" + plan_general;

                    $.ajax({
                        type: 'post',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {

                            //history.replaceState("/config-entidades", "Nueva Entidad Bips", "/config-entidades");

                            /*setTimeout(function() {
                                window.location.reload(1);
                            }, 5000);*/
                            if (result["status"] == 200) {

                                $('#preview').show();

                                $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                                $('#card-msg').show();

                                $('#formulario')[0].reset();

                                $('#select_plan').focus();

                                var iframe = document.getElementById('iframe_plan');

                                $('#iframe_plan').attr("src", iframe.src);
                                $("#iframe_plan").show();

                                setTimeout(function() {
                                    $('#preview').hide();
                                }, 4000);


                            } else {
                                $('#preview').show();

                                $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                                $('#card-msg').show();

                                setTimeout(function() {
                                    $('#preview').hide();
                                }, 5000);

                                //$('#formulario')[0].reset();

                                $('#select_plan').focus();

                            }

                            //$('#body_ent').html(result);


                        }

                    });

                } else {
                    //alert("debe escoger una plan gral");
                    $('#select_plan').focus();


                }
            }


            $(document).ready(function() {

                $('#preview').hide();
                document.getElementById("select_plan").title = 'Debe elegir un plan general'

            });
        </script>