<%- include("head"); %>
    <%- include("styles_gral"); %>

        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: none;
                overflow-y: hidden;
            }
        </style>

        <body id="body_ent">
            <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 0px; padding-bottom: 0px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center; margin-top: 0px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Registro de calificacion Indicadores
                </h2>
            </div>

            <div class="tabs-to-dropdown">

                <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 30px;margin: 0px;">
                            <button class="nav-link active btn btn-success" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="nuevo_indicador()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i class="fas fa-plus"></i> Calificacón Indicador</button>

                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 0px;margin: 0px;">

                            <button class="nav-link active btn btn-info" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="lista_indicadores()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i class="fas fa-list"></i> Lista</button>
                        </div>
                    </li>
                </ul>


                <div class="dropdown-divider"></div>

            </div>

            <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                    <div class="card container" id="panel_nuevo_indicador" style=" text-align: center;">



                        <form id="formulario" enctype="multipart/form-data" method="POST">

                            <div class="card" id="panel_reg_indicador">
                                <h2 class="text-center" style="color: #20488f;font-size: 20px">Nueva Calificación
                                </h2>

                                <div class="form-group row">

                                    <label class="col-2 col-form-label " style="font-weight: bold;" for="select_objetivo">Vigencia:</label>
                                    <div class="col-2">
                                        <select class="form-control" name="select_vigencia" id="select_vigencia" data-toggle="tooltip" title="Seleccionar vigencia!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar año
                                        </option>
                                        <% lista_años.forEach(lista=> { %>
                                            <option value="<%= lista.año %>">
                                                <%= lista.año %>
                                            </option>
                                            <% }); %>
                                    </select>

                                    </div>

                                    <label class="col-form-label" style="font-weight: bold;">
                                    Periodo Evaluado:</label>

                                    <div class="col-3">
                                        <select class="form-control" name="select_periodo" id="select_periodo" data-toggle="tooltip" title="Seleccionar Periodo!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar Mes
                                        </option>



                                    </select>
                                    </div>

                                    <label class="col-form-label" style="font-weight: bold;" for="select_objetivo">Area:
                                </label>
                                    <div class="col-3">
                                        <select class="form-control" name="select_area" id="select_area" data-toggle="tooltip" title="Seleccionar Area!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar area
                                        </option>

                                    </select>

                                    </div>
                                </div>
                                <!--<div class="form-group row">

                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                Profesional:</label>

                                <div class="col-5">

                                    <select class="form-control" name="select_profesional" id="select_profesional" data-toggle="tooltip" title="Seleccionar Profesional!" data-placement="right" required>
                                    <option selected="selected" value="">Seleccionar Profesional</option>



                                </select>
                                </div>

                                </div>-->
                                <div class="form-group row">
                                    <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Nombre Indicador: </label>
                                    <div class="col-10">
                                        <select class="form-control" name="select_indicador" id="select_indicador" data-toggle="tooltip" title="Seleccionar Indicador!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar Indicador</option>

                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" id="tabla_reg_ind_xcal_filtrados">

                            </div>






                    </div>








                    </form>

                </div>
            </div>
            </div>

            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="/lista-ctm-cal-indicadores" title="iframe Vistas control de mando" scrolling="no" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="1500px" name="iframe_res_reg_indicadores" id="iframe_res_reg_indicadores" hidden>
                </iframe>
            </div>
        </body>





        <script type="text/javascript">
            function almacenar_registro() {

                event.preventDefault();


                var reg_indicador = $('#txt_id_reg_indicador').val();
                // var indicador = $('#select_indicador').val();
                var vr_numerador = $('#txt_vr_numerador').val();
                var vr_denominador = $('#txt_vr_denominador').val();
                var resultado_numerico = $('#txt_resultado_numerico').val();
                var resultado_descriptivo = $('#select_resultado_descriptivo').val();
                var desviacion = $('#txt_desviacion').val();
                var comentario = $('#txt_comentario').val();
                var estado = $('#select_aprobar').val();

                if (vr_numerador == '') {
                    vr_numerador = 0;
                    desviacion = 0;
                    resultado_numerico = 0;
                }
                if (vr_denominador == '') {
                    vr_denominador = 0;
                }



                if (resultado_descriptivo == '') {
                    resultado_descriptivo = 0;
                }

                var peticion = "/persistir-calificacion-indicador/" +
                    "?reg_indicador=" + reg_indicador +
                    "&vr_numerador=" + vr_numerador +
                    "&vr_denominador=" + vr_denominador +
                    "&resultado_numerico=" + resultado_numerico +
                    "&resultado_descriptivo=" + resultado_descriptivo +
                    "&desviacion=" + desviacion +
                    "&comentario=" + comentario +
                    "&estado=" + estado;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function(result) {
                        if (result["status"] == 200) {

                            alert(result["msg"]);

                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            $('#formulario')[0].reset();
                            setTimeout(function() {
                                $('#preview').hide();
                            }, 4000);

                        } else {
                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            setTimeout(function() {
                                $('#preview').hide();
                            }, 5000);
                        }
                    }

                });

            }



            function nuevo_indicador() {
                //alert("OK");
                $('#panel_nuevo_indicador').attr('hidden', false);


                $('#iframe_res_reg_indicadores').attr("src", '');
                $('#iframe_res_reg_indicadores').attr('hidden', true);

            }

            function lista_indicadores() {
                //alert("OK");
                $('#panel_nuevo_indicador').attr('hidden', true);
                ///lista-ctm-indicadores

                $('#iframe_res_reg_indicadores').attr('hidden', false);
                $('#iframe_res_reg_indicadores').attr("src", '/lista-ctm-cal-indicadores');
                $("#iframe_res_reg_indicadores").show();


            }

            $(document).ready(function() {


                $("#select_vigencia").change(function() {

                    var peticion = "/consultar-periodo-x-anio-calificacion/?año=" + $(this).val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {
                            $("#select_periodo").html("");
                            $("#select_periodo").append('<option selected="selected">' + 'Seleccionar Periodo' + '</option>');
                            result.forEach(element => {
                                $("#select_periodo").append('<option value=' + element.id_mes + '>' + element.nombre_mes + '</option>');
                            });
                        }
                    });
                });

                $("#select_periodo").change(function() {

                    var peticion = "/consultar-area-x-periodo-calificacion/?periodo=" + $(this).val() +
                        "&vigencia=" + $('#select_vigencia').val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {
                            $("#select_area").html("");
                            $("#select_area").append('<option selected="selected">' + 'Seleccionar Area' + '</option>');
                            result.forEach(element => {
                                $("#select_area").append('<option value=' + element.id_area + '>' + element.nombre_area + '</option>');
                            });
                        }
                    });
                });

                $("#select_area").change(function() {

                    /*  var peticion = "/consultar-profesional-x-area/?area=" + $(this).val();
                $.ajax({
                    type: 'get',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {
                        $("#select_profesional").html("");                            
                        $("#select_profesional").append('<option selected="selected">' + 'Seleccionar Profesional' + '</option>');
                        result.forEach(element => {
                            $("#select_profesional").append('<option value=' + element.id_profesional + '>' + element.nombre_profesional + '</option>');
                        });
                    }
                });*/

                    var peticion_indicadores = "/obtener-reg-indicadores_xvigencia_xperiodo_xarea/?vigencia=" +
                        $('#select_vigencia').val() +
                        "&periodo=" + $('#select_periodo').val() +
                        "&area=" + $(this).val();


                    /* var peticion = "/consultar-indicador-x-periodo-area/?area=" + $(this).val() +
                         "&vigencia=" + $('#select_vigencia').val() + "&periodo=" + $('#select_periodo').val();*/

                    $.ajax({
                        type: 'get',
                        url: peticion_indicadores,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(result) {
                            $("#select_indicador").html("");
                            $("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');

                            result.forEach(element => {
                                $("#select_indicador").append('<option value=' + element.id_indicador + '>' + element.nombre_indicador + ' </option>');
                            });


                        }
                    });


                });

                $("#select_indicador").change(function() {

                    //iframe_res_reg_indicadores

                    /* $('#iframe_res_reg_indicadores').attr('hidden', false);
                $('#iframe_res_reg_indicadores').attr("src", '/lista-ctm-reg-ind-xcal-filtrado/?vigencia='+$("#select_vigencia").val()+
                "&periodo="+$("#select_periodo").val()+"&area="+$("#select_area").val()+"&indicador="+ $(this).val());
                $("#iframe_res_reg_indicadores").show();*/

                    /*var peticion = "/consultar-detalle-indicador-x-indicador/?indicador=" + $(this).val() +
                        "&vigencia=" + $('#select_vigencia').val() + "&periodo=" + $('#select_periodo').val() + "&area=" + $('#select_area').val();*/

                    var peticion = '/lista-ctm-reg-ind-xcal-filtrado/?vigencia=' + $("#select_vigencia").val() +
                        "&periodo=" + $("#select_periodo").val() + "&area=" + $("#select_area").val() + "&indicador=" + $(this).val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {

                            //tabla_reg_ind_xcal_filtrados
                            $("#tabla_reg_ind_xcal_filtrados").html("");

                            $("#tabla_reg_ind_xcal_filtrados").html(result);




                            /*  $("#txt_tipo_meta").html("");
                               $("#txt_meta_numerica").html("");
                               $("#txt_meta_descriptiva").html("");
                               $("#txt_fl_descriptiva").html("");
                               $("#txt_fl_numerador").html("");
                               $("#txt_fl_denominador").html("");
                               $("#txt_vr_denominador").html("");
                               $("#txt_vr_numerador").html("");
                               $("#txt_id_reg_indicador").html("");

                               $("#txt_observacion").html("");

                               //$("#txt_tipo_meta").append('<option selected="selected">' + 'Seleccionar Periodo' + '</option>');
                               result.forEach(element => {
                                   $("#txt_tipo_meta").append('<output value=' + element.tipo_meta + '>' + element.tipo_meta);
                                   $("#txt_meta_numerica").append('<output value=' + element.meta_numerica + '>' + element.meta_numerica);
                                   $("#txt_meta_descriptiva").append('<output value=' + element.meta_descriptiva + '>' + element.meta_descriptiva);
                                   $("#txt_fl_descriptiva").append('<output value=' + element.formula_literal_descriptiva + '>' + element.formula_literal_descriptiva);
                                   $("#txt_fl_numerador").append('<output value=' + element.formula_literal_numerador + '>' + element.formula_literal_numerador);
                                   $("#txt_fl_denominador").append('<output value=' + element.formula_literal_denominador + '>' + element.formula_literal_denominador);
                                   $("#txt_vr_denominador").append('<output value=' + element.formula_cifras_denominador + '>' + element.formula_cifras_denominador);
                                   $("#txt_vr_numerador").append('<output value=' + element.formula_cifras_numerador + '>' + element.formula_cifras_numerador);
                                   $("#txt_id_reg_indicador").append('<output value=' + element.id_registroindicador + '>' + element.id_registroindicador);
                                   $("#txt_observacion").append('<output value=' + element.observaciones + '>' + element.observaciones);


                               });*/



                            /*  if ($('#txt_tipo_meta').val() == "Descriptiva") {
                                $('#panel_numerica').attr('hidden', true);
                                $('#panel_descriptiva').attr('hidden', false);



                            } else {
                                $('#panel_numerica').attr('hidden', false);
                                $('#panel_descriptiva').attr('hidden', true);
                                var peticion2 = "/calcular-resultado-numerico/?numerador=" + $('#txt_vr_numerador').val()
                                    + "&denominador=" + $('#txt_vr_denominador').val();

                                $.ajax({
                                    type: 'get',
                                    url: peticion2,
                                    data: [],
                                    contentType: false,
                                    cache: false,
                                    processData: false,
                                    success: function (result) {
                                        $("#txt_resultado_numerico").html("");
                                        //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                        $("#txt_resultado_numerico").append('<option value=' + result + '>' + result + ' </option>');

                                        var peticion3 = "/calcular-desviacion/?meta_numerica=" + $('#txt_meta_numerica').val()
                                            + "&resultado_numerico=" + $('#txt_resultado_numerico').val();

                                        $.ajax({
                                            type: 'get',
                                            url: peticion3,
                                            data: [],
                                            contentType: false,
                                            cache: false,
                                            processData: false,
                                            success: function (result2) {
                                                $("#txt_desviacion").html("");
                                                //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                                $("#txt_desviacion").append('<option value=' + result2 + '>' + result2 + ' </option>');


                                            }
                                        });

                                    }
                                });








                            }
                        */
                        }
                    });


                });



                $("#select_profesional").change(function() {

                    //var peticion = "/consultar-profesional-x-area/?area=" + $(this).val();



                })

            });
        </script>