<%- include("head"); %>
    <%- include("styles_gral"); %>

        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }

            body::-webkit-scrollbar {
                display: none;
                overflow-y: hidden;
            }
        </style>

        <body id="body_ent">
            <div class="preview text-center" id="preview"
                style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center; margin-top: 0px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Registro de calificacion Indicadores
                </h2>
            </div>

            <div class="tabs-to-dropdown">

                <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 30px;margin: 20px;">
                            <button class="nav-link active btn btn-success" type="button"
                                style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea"
                                onclick="nuevo_indicador()" data-toggle="pill" href="" role="tab" aria-controls=""
                                aria-selected="true"><i class="fas fa-plus"></i> Calificacón Indicador</button>

                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 0px;margin: 20px;">

                            <button class="nav-link active btn btn-info" type="button"
                                style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea"
                                onclick="lista_indicadores()" data-toggle="pill" href="" role="tab" aria-controls=""
                                aria-selected="true"><i class="fas fa-list"></i> Lista</button>
                        </div>
                    </li>
                </ul>


                <div class="dropdown-divider"></div>

            </div>

            <div
                style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md col-md-offset-3" style="padding-bottom: 0px">

                    <div class="card container" id="panel_nuevo_indicador" style=" text-align: center;" hidden>



                        <form id="formulario" enctype="multipart/form-data" method="POST">





                            <div class="form-group row">

                                <label class="col-2 col-form-label " style="font-weight: bold;"
                                    for="select_objetivo">Vigencia:</label>
                                <div class="col-2">
                                    <select class="form-control" name="select_vigencia" id="select_vigencia"
                                        data-toggle="tooltip" title="Seleccionar vigencia!" data-placement="right"
                                        required>
                                        <option selected="selected" value="">Seleccionar año
                                        </option>
                                        <% lista_años.forEach(lista=> { %>
                                            <option value="<%= lista.año %>">
                                                <%= lista.año %>
                                            </option>
                                            <% }); %>
                                    </select>

                                </div>

                                <label class="col-form-label" style="font-weight: bold;">
                                    Periodo Evaluado:</label>

                                <div class="col-3">
                                    <select class="form-control" name="select_periodo" id="select_periodo"
                                        data-toggle="tooltip" title="Seleccionar Periodo!" data-placement="right"
                                        required>
                                        <option selected="selected" value="">Seleccionar Mes
                                        </option>



                                    </select>
                                </div>

                                <label class="col-form-label" style="font-weight: bold;" for="select_objetivo">Area:
                                </label>
                                <div class="col-3">
                                    <select class="form-control" name="select_area" id="select_area"
                                        data-toggle="tooltip" title="Seleccionar Area!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar area
                                        </option>

                                    </select>

                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Nombre Indicador: </label>
                                <div class="col-10">
                                    <select class="form-control" name="select_indicador" id="select_indicador"
                                        data-toggle="tooltip" title="Seleccionar Indicador!" data-placement="right"
                                        required>
                                        <option selected="selected" value="">Seleccionar Indicador</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Tipo Meta: </label>


                                <div class="col-4">
                                    <output class="form-control" type="text" placeholder="linea de accón"
                                        name="txt_tipo_meta" id="txt_tipo_meta" value="">
                                </div>
                                <div class="col-4">
                                    <input type="file" class="input-file-input form-control" name="files" id="files"
                                        multiple>
                                </div>

                                <div class="col-2">
                                    <button class="btn btn btn-primary btn-sm form-control " id="btn-subir"
                                        name="btn-subir">Subir</button>
                                </div>

                            </div>


                            <div class="card container" id="panel_descriptiva" style=" text-align: center;" hidden>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="txt_meta_descriptiva"
                                        style="font-weight: bold;">
                                        Meta descriptiva: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" placeholder="Meta Descriptiva"
                                            name="txt_meta_descriptiva" id="txt_meta_descriptiva" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="txt_fl_descriptiva"
                                        style="font-weight: bold;">Descripcion: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" name="txt_fl_descriptiva"
                                            id="txt_fl_descriptiva" value="">
                                    </div>
                                </div>

                                <div class="form-group row">



                                    <label class="col-2 col-form-label" style="font-weight: bold;">
                                        Resultado: </label>
                                    <div class="col-4">
                                        <select class="form-control" name="select_resultado_descriptivo"
                                            id="select_resultado_descriptivo" data-toggle="tooltip"
                                            title="Seleccionar Resultado!" data-placement="right" required>
                                            <option selected="selected" value="">Seleccionar</option>
                                            <option value="1">Cumple</option>
                                            <option value="0">No Cumple</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="card container" id="panel_numerica" style=" text-align: center;" hidden>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="txt_meta_numerica"
                                        style="font-weight: bold;">
                                        Meta Númerica: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" name="txt_meta_numerica"
                                            id="txt_meta_numerica" value="">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="txt_fl_numerador"
                                        style="font-weight: bold;">
                                        Numerador: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" name="txt_fl_numerador"
                                            id="txt_fl_numerador" value="">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-2 col-form-label" for="txt_fl_denominador"
                                        style="font-weight: bold;">
                                        Denominador: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" name="txt_fl_denominador"
                                            id="txt_fl_denominador" value="">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <label class="col-2 col-form-label" style="font-weight: bold;"> Valor Numerador:
                                    </label>

                                    <div class="col-1">
                                        <output class="form-control" type="text" name="txt_vr_numerador"
                                            id="txt_vr_numerador" value="">
                                    </div>
                                    <label class="col-form-label" style="font-weight: bold;"> Valor Denominador:
                                    </label>

                                    <div class="col-1">
                                        <output class="form-control" type="text" name="txt_vr_denominador"
                                            id="txt_vr_denominador" value="">
                                    </div>

                                    <label class="col-form-label" style="font-weight: bold;"> Resultado:
                                    </label>

                                    <div class="col-1">
                                        <output class="form-control" type="text" name="txt_resultado_numerico"
                                            id="txt_resultado_numerico" value="">
                                    </div>
                                    <label class="col-form-label" style="font-weight: bold;" > Desviación:
                                    </label>

                                    <div class="col-1">
                                        <output class="form-control" type="text" name="txt_desviacion"
                                            id="txt_desviacion" value="" >
                                    </div>

                                    <div class="col-1">
                                        <output class="form-control" type="text" name="txt_id_reg_indicador"
                                            id="txt_id_reg_indicador" value="" hidden>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                        Observaciones: </label>
                                    <div class="col-10">
                                        <output class="form-control" type="text" name="txt_observacion"
                                            id="txt_observacion">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_onjetivo" class="col-2 col-form-label" style="font-weight: bold;">
                                    Comentario: </label>
                                <div class="col-10">
                                    <textarea class="form-control" type="text" name="txt_comentario" id="txt_comentario"
                                        value=""></textarea>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label class="col-2 col-form-label" style="font-weight: bold;">
                                    Aprobado:
                                </label>
                                <div class="col-2">
                                    <select class="form-control" name="select_aprobar" id="select_aprobar"
                                        data-toggle="tooltip" title="Seleccionar Aprobar!" data-placement="right"
                                        required>
                                        <option selected="selected" value="">Seleccionar</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-12"
                                style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                                <div class="text-center">
                                    <button style="font-weight: bold;" class="btn btn-success" id="btn-validar"
                                        name="btn-validar" onclick="almacenar_registro()">Guardar
                                        Calificación Indicador</button>
                                </div>
                            </div>




                    </div>








                    </form>

                </div>
            </div>
            </div>

            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="" title="iframe Vistas control de mando" scrolling="no" onload='' frameBorder="0"
                    class="embed-responsive-item" width="100%" height="600px" name="iframe_indicador"
                    id="iframe_indicador">
                </iframe>
            </div>
        </body>





        <script type="text/javascript">
            function almacenar_registro() {

                event.preventDefault();


                var reg_indicador = $('#txt_id_reg_indicador').val();
                // var indicador = $('#select_indicador').val();
                var vr_numerador = $('#txt_vr_numerador').val();
                var vr_denominador = $('#txt_vr_denominador').val();
                var resultado_numerico = $('#txt_resultado_numerico').val();
                var resultado_descriptivo = $('#select_resultado_descriptivo').val();
                var desviacion = $('#txt_desviacion').val();
                var comentario = $('#txt_comentario').val();
                var estado = $('#select_aprobar').val();

                if (vr_numerador == '') {
                    vr_numerador = 0;
                    desviacion = 0;
                    resultado_numerico = 0;
                }
                if (vr_denominador == '') {
                    vr_denominador = 0;
                }
                
                

                if (resultado_descriptivo == '') {
                    resultado_descriptivo = 0;
                }

                var peticion = "/persistir-calificacion-indicador/" +
                    "?reg_indicador=" + reg_indicador +
                    "&vr_numerador=" + vr_numerador +
                    "&vr_denominador=" + vr_denominador +
                    "&resultado_numerico=" + resultado_numerico +
                    "&resultado_descriptivo=" + resultado_descriptivo +
                    "&desviacion=" + desviacion +
                    "&comentario=" + comentario +
                    "&estado=" + estado;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (result) {
                        if (result["status"] == 200) {

                            alert(result["msg"]);

                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            $('#formulario')[0].reset();
                            setTimeout(function () {
                                $('#preview').hide();
                            }, 4000);

                        } else {
                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            setTimeout(function () {
                                $('#preview').hide();
                            }, 5000);
                        }
                    }

                });

            }



            function nuevo_indicador() {
                //alert("OK");
                $('#panel_nuevo_indicador').attr('hidden', false);


                $('#iframe_indicador').attr("src", '');
                $('#iframe_indicador').attr('hidden', true);

            }

            function lista_indicadores() {
                //alert("OK");
                $('#panel_nuevo_indicador').attr('hidden', true);
                ///lista-ctm-indicadores

                $('#iframe_indicador').attr('hidden', false);
                $('#iframe_indicador').attr("src", '/lista-ctm-cal-indicadores');
                $("#iframe_indicador").show();


            }

            $(document).ready(function () {


                $("#select_vigencia").change(function () {

                    var peticion = "/consultar-periodo-x-anio-calificacion/?año=" + $(this).val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function (result) {
                            $("#select_periodo").html(""); $("#select_periodo").append('<option selected="selected">' + 'Seleccionar Periodo' + '</option>');
                            result.forEach(element => {
                                $("#select_periodo").append('<option value=' + element.id_mes + '>' + element.nombre_mes + '</option>');
                            });
                        }
                    });
                });

                $("#select_periodo").change(function () {

                    var peticion = "/consultar-area-x-periodo-calificacion/?periodo=" + $(this).val() +
                        "&vigencia=" + $('#select_vigencia').val();

                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function (result) {
                            $("#select_area").html("");
                            $("#select_area").append('<option selected="selected">' + 'Seleccionar Area' + '</option>');
                            result.forEach(element => {
                                $("#select_area").append('<option value=' + element.id_area + '>' + element.nombre_area + '</option>');
                            });
                        }
                    });
                });

                $("#select_area").change(function () {

                    //var peticion = "/consultar-profesional-x-area/?area=" + $(this).val();
                    var peticion = "/consultar-indicador-x-periodo-area/?area=" + $(this).val() +
                        "&vigencia=" + $('#select_vigencia').val() + "&periodo=" + $('#select_periodo').val();

                    $.ajax({
                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (result) {
                            $("#select_indicador").html("");
                            $("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');

                            result.forEach(element => {
                                $("#select_indicador").append('<option value=' + element.id_indicador + '>' + element.nombre_indicador + ' </option>');
                            });
                        }
                    });
                });

                $("#select_indicador").change(function () {

                    var peticion = "/consultar-detalle-indicador-x-indicador/?indicador=" + $(this).val() +
                        "&vigencia=" + $('#select_vigencia').val() + "&periodo=" + $('#select_periodo').val() + "&area=" + $('#select_area').val();








                    $.ajax({

                        type: 'get',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function (result) {
                            $("#txt_tipo_meta").html("");
                            $("#txt_meta_numerica").html("");
                            $("#txt_meta_descriptiva").html("");
                            $("#txt_fl_descriptiva").html("");
                            $("#txt_fl_numerador").html("");
                            $("#txt_fl_denominador").html("");
                            $("#txt_vr_denominador").html("");
                            $("#txt_vr_numerador").html("");
                            $("#txt_id_reg_indicador").html("");

                            $("#txt_observacion").html("");

                            //$("#txt_tipo_meta").append('<option selected="selected">' + 'Seleccionar Periodo' + '</option>');
                            result.forEach(element => {
                                $("#txt_tipo_meta").append('<output value=' + element.tipo_meta + '>' + element.tipo_meta);
                                $("#txt_meta_numerica").append('<output value=' + element.meta_numerica + '>' + element.meta_numerica);
                                $("#txt_meta_descriptiva").append('<output value=' + element.meta_descriptiva + '>' + element.meta_descriptiva);
                                $("#txt_fl_descriptiva").append('<output value=' + element.formula_literal_descriptiva + '>' + element.formula_literal_descriptiva);
                                $("#txt_fl_numerador").append('<output value=' + element.formula_literal_numerador + '>' + element.formula_literal_numerador);
                                $("#txt_fl_denominador").append('<output value=' + element.formula_literal_denominador + '>' + element.formula_literal_denominador);
                                $("#txt_vr_denominador").append('<output value=' + element.formula_cifras_denominador + '>' + element.formula_cifras_denominador);
                                $("#txt_vr_numerador").append('<output value=' + element.formula_cifras_numerador + '>' + element.formula_cifras_numerador);
                                $("#txt_id_reg_indicador").append('<output value=' + element.id_registroindicador + '>' + element.id_registroindicador);
                                $("#txt_observacion").append('<output value=' + element.observaciones + '>' + element.observaciones);


                            });



                            if ($('#txt_tipo_meta').val() == "Descriptiva") {
                                $('#panel_numerica').attr('hidden', true);
                                $('#panel_descriptiva').attr('hidden', false);



                            } else {
                                $('#panel_numerica').attr('hidden', false);
                                $('#panel_descriptiva').attr('hidden', true);
                                var peticion2 = "/calcular-resultado-numerico/?numerador=" + $('#txt_vr_numerador').val()
                                    + "&denominador=" + $('#txt_vr_denominador').val();

                                $.ajax({
                                    type: 'get',
                                    url: peticion2,
                                    data: [],
                                    contentType: false,
                                    cache: false,
                                    processData: false,
                                    success: function (result) {
                                        $("#txt_resultado_numerico").html("");
                                        //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                        $("#txt_resultado_numerico").append('<option value=' + result + '>' + result + ' </option>');

                                        var peticion3 = "/calcular-desviacion/?meta_numerica=" + $('#txt_meta_numerica').val()
                                            + "&resultado_numerico=" + $('#txt_resultado_numerico').val();

                                        $.ajax({
                                            type: 'get',
                                            url: peticion3,
                                            data: [],
                                            contentType: false,
                                            cache: false,
                                            processData: false,
                                            success: function (result2) {
                                                $("#txt_desviacion").html("");
                                                //$("#select_indicador").append('<option selected="selected">' + 'Seleccionar Indicador' + '</option>');
                                                $("#txt_desviacion").append('<option value=' + result2 + '>' + result2 + ' </option>');


                                            }
                                        });

                                    }
                                });








                            }
                        }
                    });


                });


            });





        </script>