<div style="display: flex;justify-content: center;align-items: center;padding-bottom: 30px">


    <div class="col-md-9 col-md-offset-3" style="padding-bottom: 30px">

        <div class="card border-dark container" style=" text-align: center;">

            <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>

            <div class="col-md-12" style="text-align: center;">
                <h3 style="color: #20488f;font-size: 30px;font-weight: bold;" class="">Editar Plan General.
                </h3>
            </div>

            <form id="formulario" enctype="multipart/form-data" method="">



                <div class="well">

                    <input type="text" id="id_plan" name="id_plan" style="display: none;" value="<%= id_plan %>">



                    <div class="form-group col-sm-12 col-md-12 col-xs-12">

                        <div class="form-group row">
                            <label class="col-3 col-form-label" for="nombre_plan" style="font-weight: bold;">Nombre
                                del plan General:</label>
                            <div class="col-9">
                                <input class="form-control" type="text" placeholder="" name="nombre_plan" id="nombre_plan" value="<%= info_plan[0].plan_general %>">
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="form-group col-3">


                                <label for="txtfecha_inicial" style="font-weight: bold; display: block;">Fecha
                                    inicial </label>


                                <input type="date" name="txtfecha_inicial" id="txtfecha_inicial" value="<%= info_plan[0].fecha_inicial %>" min="2018-01-01" max="2099-12-31" data-toggle="tooltip" title="fecha inicial" data-placement="top" placeholder=" " required>

                            </div>

                            <div class="form-group col-3">
                                <label for="txtfecha_fin" style="font-weight: bold;">Fecha
                                    Final</label>
                                <div>
                                    <input type="date" name="txtfecha_fin" id="txtfecha_fin" value="<%= info_plan[0].fecha_final %>" min="2018-01-01" max="2099-12-31" data-toggle="tooltip" title="fecha final" data-placement="top" placeholder=" " required>
                                </div>
                            </div>

                            <div class="form-group col-3">


                                <% if (info_plan[0].estado) { %>
                                    <div class="row col-4">
                                        <label class="form-check-label" style="font-weight: bold;" for="is_active">
                                            Activo</label>

                                        <input class="form-check-input" type="checkbox" value="" id="is_active" name="is_active" checked>
                                    </div>
                                    <% } else { %>
                                        <div class="row col-4" style="padding-top: 20px;margin-top: 10px;">
                                            <label class="form-check-label" style="font-weight: bold;" for="is_active">
                                                Activo</label>

                                            <input class="form-check-input" type="checkbox" value="" id="is_active" name="is_active">
                                        </div>

                                        <% } %>

                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="">
                            <button style="font-weight: bold;" type="submit" class="btn btn-success btn-sm" id="btn-validar" name="btn-validar" onclick="actualizar_registro()">Actualizar
                                        Registro</button>

                            <form action="/listado-ctm-planes-generales" method="GET">
                                <button style="font-weight: bold;" type="submit" class="btn btn-default btn-sm" id="btn-validar" name="btn-validar" onclick="">Volver</button>
                            </form>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function actualizar_registro() {
        event.preventDefault();
        var id_plan = $('#id_plan').val();
        var nombre_plan = $('#nombre_plan').val();
        var fecha_ini = $('#txtfecha_inicial').val();
        var fecha_fin = $('#txtfecha_fin').val();
        var checkbox = document.getElementById('is_active');
        var activo = false;
        if (checkbox.checked) {
            //alert('esta marcado...');
            activo = true;
        }


        var peticion = "/actualizar-plan-general/?id_plan=" + id_plan + "&nombre_plan=" + nombre_plan + "&fecha_inicial=" + fecha_ini + "&fecha_fin=" + fecha_fin + "&activo=" + activo;

        $.ajax({
            type: 'post',
            url: peticion,
            data: [],

            success: function(result) {

                //history.replaceState("/config-entidades", "Nueva Entidad Bips", "/config-entidades");

                /*setTimeout(function() {
                    window.location.reload(1);
                }, 5000);*/
                if (result["status"] == 200) {

                    console.log("actualizado correctamente...");
                    //history.replaceState("/form-editar-entidad", "Editar Entidad Bips", "/form-editar-entidad");
                    //$('#preview').show();

                    //$('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>OK!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                    //$('#card-msg').show();

                    alert(result["msg"]);

                    /*setTimeout(function() {
                        $('#preview').hide();
                    }, 5000);*/

                } else {
                    $('#preview').show();

                    $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                    $('#card-msg').show();

                    setTimeout(function() {
                        $('#preview').hide();
                    }, 5000);

                    //$('#formulario')[0].reset();

                    //$('#cod_entidad').focus();

                }

                //$('#body_ent').html(result);


            }

        });


    }

    $(document).ready(function() {

        $('#preview').hide();



    });
</script>