<%- include("test_header_new"); %>


    <script type="text/javascript">
        $(document).ready(function() {

            history.replaceState("/config-perfil-bips", "Bips", "/config-perfil-bips");

            setTimeout(function() {
                $('#card-success').hide();
            }, 5000);


            $('#card-success').show();

        });
    </script>

    <div style="margin-top: 80px;padding-top: 10px;">
        <h1 style="color: #233dd2;" class="text-center">
            Portal de Inteligencia de Negocio BIPS
        </h1>
    </div>

    <div class="card">
        <div class="card-header text-white bg-default mb-3 container-fluid">Estado Cartera

        </div>
        <div class="card-body">test</div>
    </div>

    <%- include("footer"); %>