<!--
   BIPS © 2021 - Copyright www.it-quality.com.co<br>
    <i class="fa fa-phone" aria-hidden="true"></i> 314 819 26 03 &nbsp;&nbsp;&nbsp;
    <i class="fa fa-envelope" aria-hidden="true"></i> proyectobips@gmail.com
        -->
<%- include("style_login"); %>

    <!--<footer class="footer">






     <div class="text-center" target=""> BIPS © 2021 - Copyright www.it-quality.com.co<br>
            <i class="fa fa-phone" aria-hidden="true"></i> 314 819 26 03 &nbsp;&nbsp;&nbsp;
            <i class="fa fa-envelope" aria-hidden="true"></i> proyectobips@gmail.com

        </div>




    </footer>-->





    </html>