</div>
</main>
</body>



  <div class="footer">
    © 2021 - Copyright www.it-quality.com.co<br>
    <i class="fa fa-phone" aria-hidden="true"></i> 314 819 26 03 - 311 316 60 11 &nbsp;&nbsp;&nbsp;
    <i class="fa fa-envelope" aria-hidden="true"></i> proyectobips@gmail.com
          
         
</div>
  



</html>