</div>
</main>
</body>



 
    <!--
   BIPS © 2021 - Copyright www.it-quality.com.co<br>
    <i class="fa fa-phone" aria-hidden="true"></i> 314 819 26 03 &nbsp;&nbsp;&nbsp;
    <i class="fa fa-envelope" aria-hidden="true"></i> proyectobips@gmail.com
        -->
        
        <footer class="footer">
          <div class="row align-items-center justify-content-xl-between">
        
            <div class="col-xl-12">
              <ul class="nav nav-footer justify-content-center">
        
                <li class="nav-item">
                  <a href="#" class="nav-link" target="_blank"> BIPS © 2021 - Copyright www.it-quality.com.co<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> 314 819 26 03 &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-envelope" aria-hidden="true"></i> proyectobips@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
         




</html>