<%- include("header"); %>
    <%- include("head"); %>
    <%- include("styles_gral"); %>
        <div class="container-fluid" style="margin-top: 70px;">
           
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe 
                        src="http://192.168.10.51:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AReportes_PRD_2193%3Areporte_2193_trimestral.prpt/viewer"
                        
                        title="Generador de reportes BIPS" class="embed-responsive-item">
                    </iframe>
                </div>
            
        </div>

        <%- include("footer"); %>