<%- include("header"); %>
    <%- include("head"); %>
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        src="http://192.168.10.51:8080/pentaho/api/repos/:home:admin:reportes:reporte_trimestral_2193.prpt/viewer"
                        title="Generador de reportes BIPS" class="embed-responsive-item"></iframe>
                    </iframe>
                </div>
            </div>
        </div>

        <%- include("footer"); %>