<%- include("test_header_new"); %>
<h1 class="text-center">Informe 2193</h1>
            <div class="container-fluid" style="margin-top: 70px;padding-top: 10px;margin-bottom: 10px;padding-bottom: 40px">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AReportes_PRD_2193%3Areporte_2193_trimestral.prpt/viewer" title="Generador de reportes BIPS" class="embed-responsive-item">
                    </iframe>
                </div>

            </div>

            <%- include("footer"); %>