<%- include("test_header_new"); %>

    

    <!--<p id="demo"></p>-->


    <div class="container-fluid" style="margin-top: 80px;margin-bottom: 10px;padding-top: 10px;padding-bottom: 40px">
        <h1 class="text-center" style="color: #233dd2;">Informe de Producción 2193</h1>

        <div class="overlay" id="overlay" >
            <b>
                <p type="text" id="loading" value="" style=" align-items: center; justify-content: center;" hidden></p>
            </b>

        

            <div class="embed-responsive embed-responsive-16by9" id="report">
                <iframe
                    src="http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AReportes_PRD_2193%3Areporte_2193_trimestral.prpt/viewer"
                    title="Generador de reportes BIPS" onload="validarCarga()" class="embed-responsive-item">
                </iframe>
            </div>
        </div>
        

    </div>

    <script>
        function validarCarga() {
            var text = "";
            
            $("#loading").attr("hidden", false);
            //document.getElementById("demo").innerHTML = text;
            $('#loading').html('<div class="text-center"> <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div><strong>&nbsp;&nbsp;Cargando Información<b></b> ...</strong></div>');

            setTimeout(function () {
                $("#loading").attr("hidden", true);
                
            }, 3000);

        }
    </script>

    <style>
        .overlay {
           
            align-items: center;
            justify-content: center;            
            cursor: pointer;
            border: 1px solid #233dd2;
            margin-bottom: 70px;
            padding-bottom: 20px;
            
        }

        .overlay.active {
            visibility: visible;
        }
    </style>

<%- include("footer"); %>