<!doctype html>
<html lang="es">

<body>
  <!-- Definición del menú -->
  <main>
    <div>
      <div class="container "></div>


      <ul class="nav nav-tabs nav-fill " id="myTab" role="tablist">
        <li class="nav-brand ">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="recursos_marca">
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="/obtenerRegistrosPlanos">Registros Archivos
            Planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cargar-plano">Cargar plano</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reportes">Generador de Reportes</a>
        </li>
      </ul>

      <script>
        $('li a').click(function (e) {
          //e.preventDefault();
          $('a').removeClass('active');
          $(this).addClass('active');
        });
      </script>






      <!-- Termina la definición del menú -->