<%- include("head"); %>
    <%- include("styles_gral"); %>

        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>

        <body id="body_ent">


            <div class="col-md-12" style="text-align: center;margin-top: 0px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Registro de Lineas de Acción.
                </h2>
            </div>

            <div class="tabs-to-dropdown">

                <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 0px;margin: 0px;">

                            <button class="nav-link active btn btn-info" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="lista_lineas_accion()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i
                                    class="fas fa-list"></i> Lista lineas Acción</button>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="padding-left: 0px;margin: 0px;">
                            <button class="nav-link active btn btn-success" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="nueva_linea_accion()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i class="fas fa-plus"></i> Linea Acción</button>
                        </div>
                    </li>
                </ul>

                <div class="dropdown-divider"></div>

            </div>

            <div style="display: flex;justify-content: center;align-items: center;padding-bottom: 0px; margin-top: 0px;">


                <div class="col-md-9 col-md-offset-3" style="padding-bottom: 0px">

                    <div class="card container" id="panel_nueva_linea" style=" text-align: center;" hidden>

                        <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                            <div class="card col-md-12" id="card-msg">


                            </div>
                        </div>


                        <h3 class="text-center">Nueva Linea de Acción.</h3>

                        <form id="formulario" enctype="multipart/form-data" method="POST">

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="linea_accion" style="font-weight: bold;"> Linea
                                    de acción: </label>
                                <div class="col-10">
                                    <input class="form-control" type="text" placeholder="linea de accón" name="linea_accion" id="linea_accion" value="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="select_plan" style="font-weight: bold;">Plan
                                    general: </label>

                                <div class="col-10">
                                    <select class="form-control" name="select_plan" id="select_plan" data-toggle="tooltip" title="Seleccionar plan General!" data-placement="right" required>
                                        <option selected="selected" value="">Seleccionar plan General
                                        </option>
                                        <% listaPlanes_grales.forEach(lista=> { %>
                                            <% if (lista.estado) { %>
                                                <option value="<%= lista.id_plangeneral %>">
                                                    <%= lista.plan_general %>
                                                </option>
                                            <% } %>
                                            
                                            <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group " style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">

                                <button style="font-weight: bold;" class="btn btn-success btn-sm" id="btn-validar" name="btn-validar" onclick="almacenar_registro()">Guardar Linea de
                                        Acción</button>
                                <button style="font-weight: bold;" type="submit" class="btn btn-default btn-sm" id="btn-validar" name="btn-validar" onclick="lista_lineas_accion()">Volver</button>
                            </div>
                    </div>

                    </form>

                </div>
            </div>
            </div>

            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="/listado-ctm-lineas-accion" title="iframe Vistas control de mando" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="600px" name="iframe_lineasAccion" id="iframe_lineasAccion">
                </iframe>
            </div>
        </body>





        <script type="text/javascript">
            function almacenar_registro() {

                event.preventDefault();
                var linea = $('#linea_accion').val();
                var plan_general = $('#select_plan').val();

                if (plan_general != "") {



                    var peticion = "/persistir-lineaAccion/?linea_accion=" + linea + "&plan_general=" + plan_general;

                    $.ajax({
                        type: 'post',
                        url: peticion,
                        data: [],
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(result) {

                            //history.replaceState("/config-entidades", "Nueva Entidad Bips", "/config-entidades");

                            /*setTimeout(function() {
                                window.location.reload(1);
                            }, 5000);*/
                            if (result["status"] == 200) {

                                //$('#preview').show();

                                //$('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                                //$('#card-msg').show();
                                alert(result["msg"]);

                                $('#formulario')[0].reset();

                                $('#select_plan').focus();

                                var iframe = document.getElementById('iframe_plan');

                                $('#iframe_plan').attr("src", iframe.src);
                                $("#iframe_plan").show();

                                setTimeout(function() {
                                    $('#preview').hide();
                                }, 4000);


                            } else {


                                alert(result["msg"]);
                                //$('#preview').show();

                                /*$('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                                $('#card-msg').show();

                                setTimeout(function() {
                                    $('#preview').hide();
                                }, 5000);*/

                                //$('#formulario')[0].reset();

                                $('#select_plan').focus();

                            }

                            //$('#body_ent').html(result);


                        }

                    });

                } else {
                    //alert("debe escoger una plan gral");
                    $('#select_plan').focus();


                }
            }



            function nueva_linea_accion() {
                //alert("OK");



                $('#panel_nueva_linea').attr('hidden', false);
                $('#iframe_lineasAccion').attr("src", '');
                $('#iframe_lineasAccion').attr('hidden', true);


            }

            function lista_lineas_accion() {
                //alert("OK");
                $('#panel_nueva_linea').attr('hidden', true);
                $('#iframe_lineasAccion').attr("src", '/listado-ctm-lineas-accion');
                $('#iframe_lineasAccion').attr('hidden', false);


            }

            $(document).ready(function() {

                $('#preview').hide();
                document.getElementById("select_plan").title = 'Debe elegir un plan general'

            });
        </script>