<!doctype html>
<html lang="es">

<%- include("head"); %>
    <%- include("style_login"); %>

        <body>
            <main>
                <div>

                    <head>
                        <meta charset='utf-8'>
                        <meta name='viewport' content='width=device-width, initial-scale=1'>
                        <title>BIPS lOGIN</title>
                    </head>


                    <div class="card card0 border-0">
                        <div class="row d-flex">
                            <div class="col-lg-4">
                                <div class="card1">

                                    <!-- <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="/recursos_it" class="image"> </div>-->
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <form action="/login-data" method="GET">
                                    <div class="card2 card border-0 px-4 py-5">

                                        <!--<img style="display: block; ;" src="recursos_it">-->
                                        <!--<img style="display: block; ;" src="recursos_it"> -->

                                    </div>
                                    <small class="or text-center"><h4> Iniciar Sesion </h4></small>
                                    <div class="row px-3"> <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Usuario</h6>
                                          </label> <input class="mb-4" type="text" name="username" id="username" placeholder="ingresa el nombre de usuario">
                                    </div>
                                    <div class="row px-3"> <label class="mb-1">
                                            <h6 class="mb-0 text-sm">Contraseña</h6>
                                          </label> <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
                                    </div>
                                    <div class="row px-3 mb-4">

                                    </div>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-blue">Iniciar</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>




                    <!-- <div class="footer text-center">
        <small class="ml-4 ml-sm-4 mb-2"> BIPS Copyright &copy; 2021. All rights reserved.</small>
    </div>-->



                    <%- include("footer"); %>