<%- include("test_header_new",{user:user}); %>

    <style>
        body {
            /*background-color: #eaedee;*/
            overflow-x: auto;
            overflow-y: auto;
        }
        
        body::-webkit-scrollbar {
            display: auto;
            overflow-y: hidden;
        }
        
        .tm-btn-sm li button {
            border: 0;
            height: 20px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .btn-sm {
            border: 0;
            height: 20px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>


    <div class="tabs-to-dropdown" style="margin-top: 0px;">
        <div style="float: right;margin-top: 0px;">
            <form action="/inicio/bips" method="GET">
                <button class="btn btn-submit btn-primary btn-sm">
                        <i class="fas fa-arrow-left"></i> regresar
                    </button>

            </form>
        </div>
        <div class="container-fluid" style="padding-left: 0px;margin-left: 0px; ">
            <ul class="nav nav-pills d-none d-md-flex tm-btn-sm" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="border: 0;" id="btn-planGeneral-accion" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true">Plan General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-linea-accion" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Lineas de Acción</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-objetivos" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Objetivos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-estrategias" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Estrategias</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-planes" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Planes</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-indicadores" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Indicadores</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-reg-indicadores" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Registro</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-calificacion-indicadores" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Calificacion</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-areas" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Areas</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-profesionales" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="false">Profesionales</button>
                </li>
            </ul>

        </div>
        <div class="dropdown-divider"></div>
    </div>