<%- include("test_header_new",{user:user}); %>

    <style>
        body {
            /*background-color: #eaedee;*/
            overflow-x: auto;
            overflow-y: auto;
        }
        
        body::-webkit-scrollbar {
            display: auto;
            overflow-y: hidden;
        }
    </style>
    <div style="float: right;">
        <form action="/inicio/bips" method="GET">
            <button class="btn btn-submit btn-primary btn-sm">
                    <i class="fas fa-arrow-left"></i> regresar
                </button>

        </form>
    </div>

    <div class="tabs-to-dropdown">
        <div class="nav-wrapper d-flex align-items-center justify-content-between">
            <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="border: 0;" id="btn-planGeneral-accion" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true">Plan General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="border: 0;" id="btn-linea-accion" data-toggle="pill" href="" role="" aria-controls="" aria-selected="false">Lineas de Acción</button>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
            </ul>
        </div>
    </div>