<%- include("test_header_new"); %>
    

    <div class="container-fluid" style="margin-top: 80px;padding-top: 10px;margin-bottom: 0px;padding-bottom: 40px">

        <h1 class="text-center" style="color: #233dd2;">Analisis OLAP 2193</h1>
        <b>
            <p type="text" id="loading_" value="" style=" align-items: center; justify-content: center;"></p>
        </b>

        <div class="overlay" id="overlay">
           

            <div class="embed-responsive embed-responsive-16by9" id="report">
                <iframe
                    src="http://192.168.1.84:8080/pentaho/content/saiku-ui/index.html?biplugin5=true&dimension_prefetch=false#query/open/%3Ahome%3Aadmin%3AAnalisis_Olap_2193%3Aolap_2193.saiku"
                    scrolling="si" onload='validarCarga()' frameBorder="0" width="100%" title="Dashboard 2193"
                    class="embed-responsive-item">
                </iframe>
            </div>

        </div>

        

    </div>

    <script>
        function validarCarga() {
            var text = "";
            $("#loading_").attr("hidden", true);  
                        

        }

        $(document).ready(function(){
            //$("#loading_").attr("hidden", false);
            //document.getElementById("demo").innerHTML = text;
            $('#loading_').html('<div class="text-center"> <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div><strong>&nbsp;&nbsp;Cargando Información, esto puede tardar algún tiempo...<b></b> </strong></div>');

        });
    </script>

    <style>
        .overlay {
            position: top;            
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid #233dd2;
            margin-bottom: 70px;
            padding-bottom: 20px;
            
        }

        .overlay.active {
            visibility: visible;
        }
    </style>

    <%- include("footer"); %>