<%- include("head"); %>
    <%- include("styles_gral"); %>


        <style>
            body {
                /*background-color: #eaedee;*/
                overflow-x: auto;
                overflow-y: auto;
            }
            
            body::-webkit-scrollbar {
                display: auto;
                overflow-y: hidden;
            }
        </style>


        <body id="body_ent" class="" style="margin-top: 0px;">

            <div class="preview text-center" id="preview" style="display: flex;justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;">
                <div class="card col-md-12" id="card-msg">


                </div>
            </div>
            <div class="col-md-12" style=" margin-top: 0px; padding: 10px;margin-left: 10px;">
                <h2 class="text-center" style="color: #20488f;font-size: 20px">Gestión de Plan General.
                </h2>
            </div>


            <div class="tabs-to-dropdown">

                <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist" style="margin-left: 30px; padding-left: 10px;">

                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="">

                            <button class="nav-link active btn btn-info" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nueva-linea" onclick="lista_planes()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i
                                    class="fas fa-list"></i> Lista de planes</button>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="form-group" style="">
                            <button class="nav-link active btn btn-success" type="button" style="border: 0; padding-top: 0px;height: 20px;" id="btn-nuevo-prof" onclick="nuevo_plan()" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true"><i class="fas fa-plus"></i> Adicionar Plan general</button>
                        </div>
                    </li>

                </ul>




                <div class="dropdown-divider"></div>

            </div>

            <div style="display: flex;justify-content: center;align-items: center;">


                <div class="col-md-9">

                    <div class="card container-fluid" id="panel_nuevo_plan" hidden>
                        <h3 class="text-center">Nuevo Registro Plan general.</h3>

                        <form id="formulario" enctype="multipart/form-data" method="POST">

                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="nombre_plan" style="font-weight: bold;">Nombre
                                    del plan General:</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" placeholder="ingresa el nombre del plan General." name="nombre_plan" id="nombre_plan">

                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="form-group col-3">


                                    <label for="txtfecha_inicial" style="font-weight: bold; display: block;">Fecha
                                        inicial </label>


                                    <input type="date" name="txtfecha_inicial" id="txtfecha_inicial" value="" min="2018-01-01" max="2099-12-31" data-toggle="tooltip" title="fecha inicial" data-placement="top" placeholder=" " required>

                                </div>

                                <div class="form-group col-3">
                                    <label for="txtfecha_fin" style="font-weight: bold;">Fecha
                                        Final</label>
                                    <div>
                                        <input type="date" name="txtfecha_fin" id="txtfecha_fin" value="" min="2018-01-01" max="2099-12-31" data-toggle="tooltip" title="fecha final" data-placement="top" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="form-group col-3">
                                    <label class="form-check-label" style="font-weight: bold;" for="is_active">
                                        Activo
                                        <div class="col-4">

                                            <input class="form-check-input" type="checkbox" value="" id="is_active"
                                                name="is_active" checked>
                                        </div>
                                </div>
                            </div>

                            <div class="form-group "
                                style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
                                <button style="font-weight: bold; align-content: center;" class="btn btn-success btn-sm"
                                    id="btn-validar" name="btn-validar" onclick="almacenar_registro()">Guardar
                                    Registro</button>                                    
                                        <button style="font-weight: bold;" type="submit" class="btn btn-default btn-sm" id="btn-validar" name="btn-validar" onclick="lista_planes()">Lista</button>                                    
                            </div>


                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-12" id="" name="" style="padding-bottom: 30px">

                <iframe src="/listado-ctm-planes-generales" title="iframe Vistas control de mando" scrolling="si"
                    onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="600px"
                    name="iframe_plan" id="iframe_plan">
                </iframe>
            </div>
        </body>




        <script type="text/javascript">
            function almacenar_registro() {

                event.preventDefault();
                var nombre = $('#nombre_plan').val();
                var fecha_ini = $('#txtfecha_inicial').val();
                var fecha_fin = $('#txtfecha_fin').val();
                //var activo = $('input:checkbox[name=is_active]:checked').val();
                var checkbox = document.getElementById('is_active');
                var activo= true;
                if(checkbox.checked) {
                    alert('esta marcado...');

                }else{
                    activo = false;
                }

                var peticion = "/persistir-plan/?nombre_plan=" + nombre + "&fecha_inicial=" + fecha_ini + "&fecha_fin=" + fecha_fin + "&activo=" + activo;

                $.ajax({
                    type: 'post',
                    url: peticion,
                    data: [],
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (result) {

                        //history.replaceState("/config-entidades", "Nueva Entidad Bips", "/config-entidades");

                        /*setTimeout(function() {
                            window.location.reload(1);
                        }, 5000);*/
                        if (result["status"] == 200) {

                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-success mb-3 container-fluid' id='btn-cerrar'><strong>Operación exitosa!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            $('#formulario')[0].reset();

                            $('#nombre_plan').focus();
                            

                            setTimeout(function () {
                                $('#preview').hide();
                            }, 4000);


                        } else {
                            $('#preview').show();

                            $('#card-msg').html("<div style='' class='card-header text-white bg-danger mb-3 container-fluid' id='btn-cerrar'><strong>Error!</strong><button type='button' class='close' aria-label='Close'> <span aria-hidden='true'>&times;</span></button></div><div class='card-body-ok' id='card-body-ok'>" + result["msg"] + "</div>");

                            $('#card-msg').show();

                            setTimeout(function () {
                                $('#preview').hide();
                            }, 5000);

                            //$('#formulario')[0].reset();

                            $('#nombre_plan').focus();

                        }

                        //$('#body_ent').html(result);


                    }

                });


            }



            function editar_plan() {
                alert("OK FUNCIONA...");
            }

            function nuevo_plan() {
                //alert("OK");



                $('#panel_nuevo_plan').attr('hidden', false);
                var iframe = document.getElementById('iframe_plan');

                            $('#iframe_plan').attr("src", '');
                            $("#iframe_plan").show();


            }

            function lista_planes(){
                $('#panel_nuevo_plan').attr('hidden', true);
                var iframe = document.getElementById('iframe_plan');

                            $('#iframe_plan').attr("src", '/listado-ctm-planes-generales');
                            $("#iframe_plan").show();
            }

            $(document).ready(function () {

                $('#preview').hide();

            });
        </script>