<%- include("head"); %>

    <body id="body_pop">

        <div class="contenedor">
            <div class="overlay" id="overlay">
                <div class="popup" id="popup">

                    <div class="card card-danger" id="panel" name="panel">
                        <div class="card-heading" id="panel_heading">
                            <a href="/listado-ctm-planes" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                            <p> <b>Confirmación</b></p>
                        </div>
                        <div class="card-body">

                            <p>Seguro desea eliminar el Plan de Accion<b> <%= datos_plan[1] %></b>?<br>

                            </p>
                            <form action="/plan-general/delete/<%= datos_plan[0] %>/control-mando-bips/?nombre_plan=<%= datos_plan[1] %>" method="POST">
                                <input type="submit" class="btn-submit btn btn-success" value="Aceptar">
                            </form>
                            <form action="/listado-ctm-planes" method="GET">
                                <button type="" class="btn-submit btn btn-default" value="">Cancelar</button>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>

    <script>
    </script>

    <style type="text/css">
        #body_pop {
            /*background: #eaedee;*/
        }
        
        #panel {
            width: 400px;
        }
        
        #panel_heading {
            background-color: red;
            color: #ffffff;
        }
        
        .overlay {
            /*background: #eaedee;*/
            position: fixed;
            top: 10;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: top;
            justify-content: center;
            display: flex;
            margin-top: 40;
        }
        
        .overlay.active {
            visibility: visible;
        }
        
        .popup {
            /*background: #eaedee;*/
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
        
        body::-webkit-scrollbar {
            display: none;
        }
        
        .popup .btn-cerrar-popup {
            font-size: 16px;
            line-height: 16px;
            display: block;
            text-align: right;
            transition: .3s ease all;
            color: #BBBBBB;
        }
        
        .popup .btn-cerrar-popup:hover {
            color: #fff;
        }
        
        .contenedor {
            margin-top: 10px;
            background-color: #eaedee;
            width: 600px;
            align-items: center;
            position: center;
        }
        
        .popup form .btn-submit:hover {
            background: rgba(156, 173, 231, 0.9);
        }
        
        .popup form .btn-submit {
            border: none;
            border-radius: 3px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            cursor: pointer;
            transition: .3s ease all;
        }
        /* ------------------------- */
        /* ANIMACIONES */
        /* ------------------------- */
        
        .popup.active h3 {
            animation: entradaTitulo .8s ease .5s forwards;
        }
        
        .popup.active h4 {
            animation: entradaSubtitulo .8s ease .5s forwards;
        }
        
        .popup.active .contenedor-inputs {
            animation: entradaInputs 1s linear 1s forwards;
        }
        
        @keyframes entradaTitulo {
            from {
                opacity: 0;
                transform: translateY(-25px);
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        @keyframes entradaSubtitulo {
            from {
                opacity: 0;
                transform: translateY(25px);
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        @keyframes entradaInputs {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>