<%- include("test_header_new"); %>

    <body id="body_ppal_ctm" class="">
        <div class="col-md-12" style=" margin-top: 80px; padding: 10px;margin-left: 10px;">

            <div class="col-md-12">

                <!--<iframe src="/menu-ctm" title="Archivos cargados" scrolling="si" onload='' frameBorder="0" class="embed-responsive-item" width="100%" height="60px" name="iframe_control_mando" id="iframe_control_mando">
                        </iframe>-->
                <%- include("menu-informes-financieros"); %>
            </div>

        </div>



        <div class="embed-responsive embed-responsive-16by9" id="report">
            <iframe src="http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AInformes%3AContabilidad%3AReporte_Anexo0319.prpt/viewer" title="Generador de reportes BIPS" onload="validarCarga()" class="embed-responsive-item" id="iframe_report">
        </iframe>
        </div>
    </body>


    <script type="text/javascript">
        $(document).ready(function() {

            $('#loading_').html('<div class="text-center"> <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div><strong>&nbsp;&nbsp;Cargando Información, esto puede tardar algún tiempo...<b></b> </strong></div>');

            $('#preview').hide();

            $('#btn-informe1').click(function() {

                //alert("OK");

                $('#iframe_report').attr("src", "http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AInformes%3AContabilidad%3AReporte_Anexo0319.prpt/viewer");

                $("#iframe_report").show();


            });

            $('#btn-informe2').click(function() {

                //alert("OK");

                $('#iframe_report').attr("src", "http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AInformes%3AContabilidad%3AReporte_Anexo0319(BCEHORIZ).prpt/viewer");

                $("#iframe_report").show();

            });

            $('#btn-informe3').click(function() {

                //alert("OK");

                $('#iframe_report').attr("src", "http://192.168.1.84:8080/pentaho/api/repos/%3Ahome%3Aadmin%3AInformes%3AContabilidad%3AReporte_Anexo0319(BCEVERT).prpt/viewer");

                $("#iframe_report").show();

            });

        });

        function validarCarga() {
            var text = "";
            $("#loading_").attr("hidden", true);
            $("#loading").attr("hidden", false);
            //document.getElementById("demo").innerHTML = text;
            $('#loading').html('<div class="text-center"> <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div><strong>&nbsp;&nbsp;Cargando Información<b></b> ...</strong></div>');

            setTimeout(function() {
                $("#loading").attr("hidden", true);


            }, 3000);



        }
    </script>


    <style>
        .overlay {
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid #233dd2;
            margin-bottom: 70px;
            padding-bottom: 20px;
        }
        
        .overlay.active {
            visibility: visible;
        }
    </style>