<a href="" onclick="listaPendientes()" title="Calificar">
    <button class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            <i class="fas fa-edit"></i></i><label for="">&nbsp; Pendientes Calificar</label>
    </button>
</a>

<a href="" onclick="listaCalificados()" >
    <button class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    <i class="fas fa-list " ></i><label  for="">&nbsp; Calificados</label>
</button>
</a>

<a href="" onclick="listaSemaforizacion()" >
    <button class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    <i class="fas fa-list " ></i><label  for="">&nbsp; Semaforizacion Indicadores</label>
</button>
</a>

<a href="" onclick="listaSemaforizacionPlanes()">
    <button class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    <i class="fas fa-list " ></i><label  for="">&nbsp; Semaforizacion Planes</label>
</button>
</a>

<a href="" onclick="listaSemaforizacionPlanGeneral()">
    <button class="px-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    <i class="fas fa-list " ></i><label  for="">&nbsp; Semaforizacion Plan General</label>
</button>
</a>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>


<script>
    function listaPendientes() {
        event.preventDefault();
        const peticion = "/ctm-calificacion-indicadores";
        loadContentHtml(peticion, '#container-tab')

    }

    function listaCalificados() {
        event.preventDefault();
        const peticion = "/ctm-lista-calificados";
        loadContentHtml(peticion, '#container-tab')

    }

    function listaSemaforizacion() {
        event.preventDefault();
        const peticion = "/ctm-lista-semaforizacion";
        loadContentHtml(peticion, '#container-tab')

    }

    function listaSemaforizacionPlanes() {
        event.preventDefault()
        const peticion = "/ctm-lista-semaforizacion-planes/plan_general/?txt='Plan general'";
        loadContentHtml(peticion, '#container-tab')

    }

    function listaSemaforizacionPlanGeneral() {
        event.preventDefault();
        const peticion = "/ctm-lista-semaforizacion-plan-general";
        loadContentHtml(peticion, '#container-tab')

    }

    function ExportToExcel(type, fn, dl,table) {
            var elt = document.getElementById(table);
           //var elt=table;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "hoja1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || (table+'.'+ (type || 'xlsx')));
    }

 


</script>